# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\51535\Desktop\黄静怡2018030401015+黄丽玲2018030401016+个人理财管理系统\finance\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
